$textColor: rgb(175,175,0);
$mainColor: rgb(213, 203, 226);

body {
    font-family: 'Oswald', sans-serif;
    background-color: $mainColor;
    color: $textColor;

    .overlay {
        z-index: 1;
        background-color: gold;
        height: 100vh;
        width: 100vw;
        position: absolute;
    }
}
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        display: flex;
        color: $textColor;
        font-size: 3em;
        margin:  .25em .25em .25em .25em
    }

    h2 {
        margin:  .25em .25em .25em .25em
    }

    nav {

        ul {
            display: flex;
            list-style-type: none;
            padding-inline-start: 0;
        }

        li {
            margin: 1em 1em 1em 1em;
        }

        a {
            color: tomato;
            text-decoration: none;

            &:hover {
                color: lightseagreen;
                text-decoration: underline;
            }
        }
    }

    #slider {
        border: red solid;
        height: 15em;
        width: 50%;
        text-align: center;
        max-width: 500px;
        background: green;
        z-index: 2;
        position: absolute;
    }
}